=form_for @customer, :html => {:class => 'form-2'} do |f|
  - if flash[:success]
    .success-notice
      %h2
        Thank you.
        %br
        = flash[:success]
      %h2 Questions?
      %p call 571 351 7567 or email info@moka.life
  = render 'shared/error_messages'

  = f.label :age, "I am a"
  .inline-label-wrapper
    = f.text_field :age, :placeholder => "27", :type => "text", :pattern => "[0-9]*", :class => "inline"
    = f.label :age, "year old", :class => "inline input-inline-with-label"

  %br
  = field_set_tag do
    = radio_button_tag 'gender', 'woman',checked:true
    = label_tag 'gender_woman', 'woman'
    = radio_button_tag 'gender', 'man'
    = label_tag 'gender_man', 'man'

  =f.label "smoker", "I"
  = field_set_tag do
    = radio_button_tag "smoker", "do not",checked:true
    = label_tag 'smoker_do_not', 'do not'
    = radio_button_tag 'smoker', 'do'
    = label_tag 'smoker_do', 'do'
  =f.label "smoker", "use tobacco."

  = f.label "coverage_amount", "I would like"
  = field_set_tag do
    = radio_button_tag 'coverage_amount', '250'
    = label_tag 'coverage_amount_250', '250k'
    = radio_button_tag 'coverage_amount', '500',checked:true
    = label_tag 'coverage_amount_500', '500k'
    = radio_button_tag 'coverage_amount', '750'
    = label_tag 'coverage_amount_750', '750k'
    = radio_button_tag 'coverage_amount', '1000'
    = label_tag 'coverage_amount_1000', '1m'
  %p.coverage-hover
    in coverage *
    .coverage-tooltip
      %h6 How much coverage should I get?
      %p In general we recommend at least $250,000 of coverage. A good gauge is 10-20 times your income.


  = label_tag "contact-method", "Contact me using"
  = field_set_tag nil, :class => "contact-selector" do
    = radio_button_tag 'contact-method', 'email',checked:true
    = label_tag 'contact-method_email', 'email'
    = radio_button_tag 'contact-method', 'text'
    = label_tag 'contact-method_text', 'text'
    = radio_button_tag 'contact-method', 'voice'
    = label_tag 'contact-method_voice', 'voice'


  = f.text_field :email, :class => 'contact-type email', :placeholder => "email@yours.com", :type => "email"
  = f.text_field :phone_number, :class => 'contact-type telephone hidden', :placeholder => "(703) 222-2222", :type => "tel"

  %input.button{:type => "submit", :value => "submit"}

-#
  =f.label "name", "My name is"
  =f.text_field :customer_name, :placeholder => "Sam Smith"
  %br

  =f.label "weight", "I weigh"
  =f.select :weight, options_for_select([ ">125", "125-150", "150-175", "175-200", "200-250", "250-300", "300+" ], "125-150")

  =f.label "height", "lbs & I'm"
  =f.select :weight, options_for_select(heights, "5'9\"")
  %span tall.
  %br

  =f.label "relationshipStatus", "I'm"

  %select{:tabindex => "-1", :name => "relationshipStatus"}
    %option{:value => "0"} single
    %option{:value => "1", :selected => "selected"} married
    %option{:value => "2"} divorced

  =label_tag "kids", "& have"
  =select_tag "kids", options_for_select(0..14, 2), :tabindex => "1"
  %span kids.
  %br

  =label_tag "incomeRange", "My income is"
  %select{:tabindex => "-1", :name => "incomeRange"}
    %option{:value => "0"} > 25k
    %option{:value => "1"} 25-50k
    %option{:value => "2", :selected => "selected"} 50-75k
    %option{:value => "3"} 75-100k
    %option{:value => "4"} 100-125k
    %option{:value => "5"} 125-200k
    %option{:value => "6"} 200k+
  %span.fake-period .
  %br

  %span My overall health is
  = field_set_tag do
    =radio_button_tag 'health', 'poor'
    =label_tag 'health_poor', 'poor'
    =radio_button_tag 'health', 'decent'
    =label_tag 'health_decent', 'decent'
    =radio_button_tag 'health', 'good', true
    =label_tag 'health_good', 'good'
    =radio_button_tag 'health', 'great'
    =label_tag 'health_great', 'great'
    =radio_button_tag 'health', 'excellent'
    =label_tag 'health_excellent', 'excellent'
  %span.health-title good

  %br
  =label_tag "policyStatus", "I currently"
  %select{:tabindex => "-1", :name => "policyStatus"}
    %option{:value => "0"} do
    %option{:value => "1", :selected => "selected"} don't

  %span have a policy.
  %br

  %input.button{:tabindex => "-1", :type => "submit", :value => "Get your full quote"}
  -#%span.button-prev.alt-button{:tabindex => "-1"} Go back
