= form_for @customer, :html => {:class => 'form-1'} do |f|
  - if flash[:notice]
    .success-notice
      %h2
        Thank you.
        %br
        = flash[:notice]
      %h2 Questions?
      %p call 571 351 7567 or email info@moka.life
  = render 'shared/error_messages'

  =f.label "name", "My name is"
  =f.text_field :customer_name, :placeholder => "Sam Smith"

  = f.label "state", "I live in"
  = f.text_field :state, :placeholder => "Virginia", :class => "typeahead"
  =# f.select :state, options_for_select(us_states, "VA")


  = f.label :age, "I am a"
  .inline-label-wrapper
    = f.text_field :age, :placeholder => "27", :type => "text", :pattern => "[0-9]*", :class => "inline"
    = f.label :age, "year old", :class => "inline input-inline-with-label"

  %br



  = field_set_tag do
    = radio_button_tag 'gender', 'woman',checked:true
    = label_tag 'gender_woman', 'woman'
    = radio_button_tag 'gender', 'man'
    = label_tag 'gender_man', 'man'

  =f.label "height", "I am"
  .inline-label-wrapper
    = f.text_field :height, :placeholder => "5\'8\"", :type => "text", :pattern => "[0-9]*", :class => "inline"
    = f.label :height, "tall", :class => "inline input-inline-with-label"

  =f.label "weight", "I weigh"
  .inline-label-wrapper
    = f.text_field :weight, :placeholder => "165", :type => "text", :pattern => "[0-9]*", :class => "inline"
    = f.label :weight, "pounds", :class => "inline input-inline-with-label"

  =f.label "relationshipStatus", "I am"
  = field_set_tag do
    = radio_button_tag 'relationshipStatus', 'single',checked:true
    = label_tag 'relationshipStatus_single', 'single'
    = radio_button_tag 'relationshipStatus', 'married'
    = label_tag 'relationshipStatus_married', 'married'


  =f.label "children", "I have"
  .inline-label-wrapper
    = f.text_field :children, :placeholder => "2", :type => "text", :pattern => "[0-9]*", :class => "inline"
    = f.label :children, "children", :class => "inline input-inline-with-label"

  =f.label "smoker", "I"
  = field_set_tag do
    = radio_button_tag "smoker", "do not",checked:true
    = label_tag 'smoker_do_not', 'do not'
    = radio_button_tag 'smoker', 'do'
    = label_tag 'smoker_do', 'do'
  =f.label "smoker", "use tobacco."


  =label_tag "incomeRange", "My income range is"
  %select{:tabindex => "-1", :name => "incomeRange"}
    %option{:value => "0"} > 25k
    %option{:value => "1"} 25-50k
    %option{:value => "2", :selected => "selected"} 50-75k
    %option{:value => "3"} 75-100k
    %option{:value => "4"} 100-125k
    %option{:value => "5"} 125-200k
    %option{:value => "6"} 200k+

  = f.label "coverage_amount", "I need"
  = f.select :coverage_amount, options_for_select([ ["$250,000", 1], ["$500,000", 2], ["$750,000", 3], ["$1,000,000", 4] ], ["250,000", 5])
  %p.coverage-hover
    in coverage *
    .coverage-tooltip
      %h6 How much coverage should I get?
      %p In general we recommend at least $250,000 of coverage. A good gauge is 10-20 times your income.

  = f.submit "Get Quote", :class => "button form-1"


  -##
    %span.input-sentance
      = label_tag "contact-method", "Contact me using"
      = field_set_tag do
        = radio_button_tag 'contact-method', 'email',checked:true
        = label_tag 'contact-method_email', 'email'
        = radio_button_tag 'contact-method', 'text'
        = label_tag 'contact-method_text', 'text'
        = radio_button_tag 'contact-method', 'voice'
        = label_tag 'contact-method_voice', 'voice'


    = f.text_field :email, :class => 'contact-type email', :placeholder => "email@yours.com", :type => "text"
    = f.text_field :phone_number, :class => 'contact-type telephone hidden', :placeholder => "(703) 222-2222", :type => "tel"

    = #hidden_field_tag :has_been_contacted, :false

    %span.input-sentance
      = f.submit "Continue for a quote", :class => "alt-button button-next form-1", :name => "continue_to_next_form"

      -#%span.button-next.alt-button{:tabindex => "1"} Continue for a quote
