= form_for :customer, :html => {:class => 'form-1'} do |f|
  -## :class => 'form-1'
  = f.label :age, "I'm a"
  = f.select "age", options_for_select(21..55, 26), :tabindex => "1"

  =f.label :gender, "year old"
  = f.select(:gender, [['woman', 1], ['man', 2]])
  %span.fake-period .

  %br

  = f.label "state", "I live in"
  = f.select :state, options_for_select(us_states, "VA")
  %span.fake-period .

  %span.input-sentance
    =f.label "tobacco_use", "I"
    =f.select(:tobacco_use, [["don't", 1], ["do", 2]])
    = f.label "tobacco_use", "use tobacco."

  %span.input-sentance
    = f.label "coverageAmount", "I need"
    = f.select :coverageAmount, options_for_select([ "$250,000", "$500,000", "$750,000", "$1,000,000" ], "250,000")
    %span.coverage-hover
      in coverage *
      .coverage-tooltip
        %h6 How much coverage should I get?
        %p In general we recommend at least $250,000 of coverage. A good gauge is 10-20 times your income.



  %span.input-sentance
    = f.label "contact-method", "Contact me using"
    =field_set_tag do
      = f.radio_button 'contact-method', 'email',checked:true
      = f.label 'contact-method_email', 'email'
      = f.radio_button 'contact-method', 'text'
      = f.label 'contact-method_text', 'text'
      = f.radio_button 'contact-method', 'voice'
      = f.label 'contact-method_voice', 'voice'


  = f.text_field :email, :class => 'contact-type email', :placeholder => "email@yours.com", :type => "text"
  = f.text_field :telephone, :class => 'contact-type telephone hidden', :placeholder => "(703) 222-2222", :type => "tel"

  %span.input-sentance
    = f.submit "We'll contact you", :class => "button"
    %span.button-next.alt-button{:tabindex => "1"} Continue for a quote
