= form_for @customer, url: customers_path , :html => {:class => 'form-1'} do |f|
  - if @customer.errors.any?
    = @customer.errors[:email]
  = f.label :age, "I'm a"
  = f.select "age", options_for_select(21..55, 26), :tabindex => "1"

  =f.label :gender, "year old"
  = f.select :gender, options_for_select([ ['woman', 'woman'], ['man', 2], ['other', 3]])
  %span.fake-period .
  =## f.collection_select(:customer_id, Customer.all, :id, :name)

  %br

  = f.label "state", "I live in"
  = f.select :state, options_for_select(us_states, "VA")
  %span.fake-period .

  %span.input-sentance
    =f.label "smoker", "I"
    =f.select(:smoker, [["don't", 1], ["do", 2]])
    = f.label "smoker", "use tobacco."

  %span.input-sentance
    = f.label "coverage_amount", "I need"
    = f.select :coverage_amount, options_for_select([ "$250,000", "$500,000", "$750,000", "$1,000,000" ], "250,000")
    %span.coverage-hover
      in coverage *
      .coverage-tooltip
        %h6 How much coverage should I get?
        %p In general we recommend at least $250,000 of coverage. A good gauge is 10-20 times your income.


  %span.input-sentance
    = label_tag "contact-method", "Contact me using"
    = field_set_tag do
      = radio_button_tag 'contact-method', 'email',checked:true
      = label_tag 'contact-method_email', 'email'
      = radio_button_tag 'contact-method', 'text'
      = label_tag 'contact-method_text', 'text'
      = radio_button_tag 'contact-method', 'voice'
      = label_tag 'contact-method_voice', 'voice'


  = f.text_field :email, :class => 'contact-type email', :placeholder => "email@yours.com", :type => "text"
  = f.text_field :phone_number, :class => 'contact-type telephone hidden', :placeholder => "(703) 222-2222", :type => "tel"

  %span.input-sentance
    = f.submit "We'll contact you", :class => "button"
    %span.button-next.alt-button{:tabindex => "1"} Continue for a quote
